<!DOCTYPE html>
<html>
<head>
    <title>Teem Up</title>
    <link rel="stylesheet" href="home.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
</head>

<body>

<div class="topnav">
    <a class="active" href="home.html" id = "home">Teem Up</a>
    <a href="find.html" id = "find">Find</a>
    <a href="create.html" id = "create">Create</a>
    <a href="yourEvents.html" id = "yourEvents">Your Events</a>
    <a href="login.html" id = "account">Account</a>
</div>

<footer>
<p>
    Page, Sona, Jessie, Ilana <br>
    2019 SheInnovates
</p>
</footer>


</body>
</html>
  