<!DOCTYPE html>
<html>
<head>
    <title>Teem Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="home.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="css/util.css">
      <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->




  </head>

<body>

    <div id="particles"></div>    
    <div id ="particles-js"></div>    

<!-- NAVIGATION BAR -->

<div class="topnav">
    <a class="active" href="home.html" id = "home">Teem Up</a>
    <a href="find.html" id = "find">Find</a>
    <a href="create.html" id = "create">Create</a>
    <a href="yourEvents.html" id = "yourEvents">Your Events</a>
    <a href="account.html" id = "account">Account</a>
</div>


<!-- CREATE EVENT FORM -->


<div class="bg-contact2" style="background-color: transparent);">
  <div class="container-contact2">
    <div class="wrap-contact2">
      <form class="contact2-form validate-form">
        <span class="contact2-form-title" id="createEventTitle">
          Create an Event
        </span>

        <div class="wrap-input2 validate-input" data-validate="Event Name is required">
          <input class="input2" type="text" name="name">
          <span class="focus-input2" data-placeholder="EVENT NAME"></span>
        </div>

        <div class="wrap-input2 validate-input" data-validate = "Category is required">
          <input class="input2" type="text" name="">
          <span class="focus-input2" data-placeholder="CATEGORY"></span>
        </div>

        <div class="wrap-input2 validate-input" data-validate = "Location is required">
          <input class="input2" type = "text" name="location">
          <span class="focus-input2" data-placeholder="LOCATION"></span>
        </div>
        
        <div class="wrap-input2 validate-input" data-validate = "Time is required">
          <input class="input2" name="message">
          <span class="focus-input2" data-placeholder="TIME"></span>
        </div>
        <div class="wrap-input2 validate-input" data-validate = "Dates is required">
          <input class="input2" name="message">
          <span class="focus-input2" data-placeholder="DATES"></span>
        </div>
        <div class="wrap-input2 validate-input" data-validate = "Amount of people is required">
          <input class="input2" type = "text" name="message">
          <span class="focus-input2" data-placeholder="AMOUNT OF PEOPLE"></span>
        </div>

        <div class="wrap-input2 validate-input" data-validate = "Description is required">
          <textarea class="input2" name="description"></textarea>
          <span class="focus-input2" data-placeholder="DESCRIPTION"></span>
        </div>
        
        <div class="wrap-input2 validate-input" data-validate = "Clearance details are required">
          <textarea class="input2" name="message"></textarea>
          <span class="focus-input2" data-placeholder="CLEARANCES"></span>
        </div>
        
        
        <div class="container-contact2-form-btn">
          <div class="wrap-contact2-form-btn">
            <div class="contact2-form-bgbtn"></div>
            <button class="contact2-form-btn">
              Submit Request
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>




<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>







<footer>
<p>
    Page, Sona, Jessie, Ilana <br>
    2019 SheInnovates
</p>
</footer>

<script type="text/javascript" src="particles.js"></script>
<script type="text/javascript" src="app.js"></script>


</body>
</html>
