<!DOCTYPE html>
<html>
<head>
    <title>Teem Up</title>
    <link rel="stylesheet" href="../static/new.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
	<link rel="icon" type ="image/png" href="images/icons/teemiconi.ico"/>
</head>

<body>

<div class="topnav">
    <a class="active" href="home.html" id = "home">Teem Up</a>
    <a href="find.html" id = "find">Find</a>
    <a href="create.html" id = "create">Create</a>
    <a href="yourEvents.html" id = "yourEvents">Your Events</a>
    <a href="account.html" id = "account">Account</a>
</div>
<div class="eventOne">
<div class="eventContainer">
  <img src="https://media.timeout.com/images/103969153/1372/772/image.jpg" alt="Avatar" class="eventImage">
  <div class="eventOverlay">
    <div class="eventText"><h2>Day for Girls</h2><p>Wednesday, January 30th<p>Multiple Times Available<p>Third Presbyterian Church</p><a href="event.html">Register Here</a></div>
  </div>
</div>
</div>
<footer>
<p>
    Page, Sona, Jessie, Ilana <br>
    2019 SheInnovates
</p>
</footer>


</body>
</html>
