<!DOCTYPE html>
<html>
<head>
    <title>Teem Up</title>
    <link rel="stylesheet" href="static/new.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
	<link rel="icon" type ="image/png" href="images/icons/teemiconi.ico"/>
</head>

<body>

<div class="topnav">
    <a class="active" href="home.html" id = "home">Teem Up</a>
    <a href="find.html" id = "find">Find</a>
    <a href="create.html" id = "create">Create</a>
    <a href="yourEvents.html" id = "yourEvents">Your Events</a>
    <a href="account.html" id = "account">Account</a>
</div>

<h2 class = "homeText">Upcoming Events Near Pitt</h2>
    <div class="eventCont">
    <div class = "eventImage1">
        <div class ="eventBottom">
             <div class = "eventText">
            <h2>Day for Girls</h2>
            <p>Wednesday, January 30th
            <p>Multiple Times Available
            <p>Third Presbyterian Church</p>
            <a href="dayForGirls.html">More Info</a>
            </div>
        </div>
    </div>
    <div class = "eventImage2">
        <div class ="eventBottom">
             <div class = "eventText">
            <h2>Compost Drop-Off Volunteer</h2>
            <p>Wednesday, January 30th
            <p>11am - 12pm
            <p>Posvar Hall Galleria</p>
            <a href="compost.html">More Info</a>
            </div>
        </div>
    </div>
    <div class = "eventImage3">
        <div class ="eventBottom">
             <div class = "eventText">
            <h2>Eyeglass Processing</h2>
            <p>Thursday, January 31st
            <p>6pm - 8pm
            <p>UPMC’s Eye and Ear Institute</p>
            <a href="eyeglass.html">More Info</a>
            </div>
        </div>
    </div>
</div>

<footer>
<p>
    Page, Sona, Jessie, Ilana <br>
    2019 SheInnovates
</p>
</footer>


</body>
</html>
