<!DOCTYPE html>
<html>
<head>
<title>Teem Up</title>
<link rel="stylesheet" href="../static/style.css">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
<link rel="icon" type ="image/png" href="images/icons/teemiconi.ico"/>

</head>

<body>    

    <div id="particles"></div>    
    <div id ="particles-js"></div>    

    <section id="header">  
        <p id="title">Teem Up</p>
        <p id="motto">Find your people.</p>    
    </section>   

    <a href="signup.html" id="enterButton" >Enter &#8594;</a>

    <script type="text/javascript" src="particles.js"></script>
    <script type="text/javascript" src="app.js"></script>

</body>

</html>


