<!DOCTYPE html>
<html>
<head>
    <title>Teem Up</title>
    <link rel="stylesheet" href="static/new.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="icon" type ="image/png" href="images/icons/teemiconi.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

<div class="topnav">
    <a class="active" href="home.html" id = "home">Teem Up</a>
    <a href="find.html" id = "find">Find</a>
    <a href="create.html" id = "create">Create</a>
    <a href="yourEvents.html" id = "yourEvents">Your Events</a>
    <a href="account.html" id = "account">Account</a>
</div>

<p id = "yourEv">Events you have created: </p>
<div class="container">
    <div class="row">
      <div class="col-sm">
        One of four columns 
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>

<p id = "yourEv">Events you are interested in: </p>
<div class="container">
    <div class="row">
      <div class="col-sm">
        One of four columns 
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>

<p id = "yourEv">Events you are registered for: </p>
<div class="container">
    <div class="row">
      <div class="col-sm">
        One of four columns 
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>



<footer>
<p>
    Page, Sona, Jessie, Ilana <br>
    2019 SheInnovates
</p>
</footer>


</body>
</html>
