

.topnav {
    background-color: transparent;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;

  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  transition: 0.2s;
  flex: 1 1 25%;
  color: #000;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: transparent;
    color: black;
  }

.eventOne{
  display: grid;
  grid-template-columns: 50%;
}

.eventContainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.eventImage {
  max-width: 100%;
}

.eventOverlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background: #eee;
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.eventContainer:hover .eventOverlay {
  opacity: 1;
}

.eventText {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.eventText > h2{
  font-size: 45px;
}

#home
{
    font-size: 80px;
    padding-left: 5%;
    padding-top: 0%;
}

#create
{
    font-size: 40px;
    padding-left: 4%;
    padding-top: 3%;
}

#find
{
    font-size: 40px;
    padding-left: 4%;
    padding-top: 3%;
}

#yourEvents{
    font-size: 40px;
    padding-left: 4%;
    padding-top: 3%;
}

#account
{
    font-size: 40px;
    padding-left: 4%;
    padding-top: 3%;
}

footer
{
    text-align: center;
    font-size: 10px;
    background: grey;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#yourEv
{
    padding-left: 5%;
}

#highlights
{
    size: 100px;
    color: purple;
}

#acc
{
    font-size: 30px;
    color: black;
    font-family: 'Source Code Pro', monospace;
    padding-top: 20px;
}

#sona
{
    width: 100%;
    height: 100%;
}